[package]
name = "auto-keyboard-color"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1.0.100"
notify = "8.1.0"
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.145"

[profile.release]
opt-level = "z"
lto = true
codegen-units = 1
panic = "abort"
strip = true
